<target iqn.{{ansible_date_time.year}}-{{ansible_date_time.month}}.{{ansible_hostname}}:storage>
    <backing-store /dev/sdb1 >
        lun 1
    </backing-store>
    <backing-store /dev/sdb2 >
        lun 2
    </backing-store>
    <backing-store /dev/sdb3 >
        lun 3
    </backing-store>
    <backing-store /dev/sdb4 >
        lun 4
    </backing-store>
    <backing-store /dev/sdb5 >
        lun 5
    </backing-store>
    initiator-address 127.0.0.1
    initiator-address 127.0.0.1
</target>